body {
    
    background-color: #E8E8E8;
}

#vision-board {
    font-family: 'Montseratt', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    width: 1200px;
    height: 850px;
    margin: 50px auto;
    background-image: url('../img/background.png');
    overflow: auto;
}

.block {
    float: left;
    width: 400px;
    box-sizing: border-box;
}

.small-block {
    height: 210px;
    padding: 20px 40px;
}

.large-block {
    height: 430px;
    padding: 70px 40px;
}

/****** Align Content *********/

.center {
    text-align: center;
}

.right {
    text-align: right;
}


.light-bg {
    background: #fff;
}

.dark-bg {
    background: #3B3B3B;
    color: #fff;
}

.highlight {
    background: #FFF44F;
    font-size: 18px;
    padding: 5px 15px;
}

.marker {
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
}

strong {
	font-size: 38px;
	text-transform: none; 
	line-height: 38px;
}

.title {
	margin: 10px 0;
	font-size: 30px;
}

.top-padding {
	padding-top: 40px;
}  